/* ------ GENERAL ------ */
:root {
  --primary-color: #00695c;
  --secondary-color: rgba(0, 105, 92, 0.38);
  --font-label-size: 16px;
  --placeholder-color: rgba(0, 0, 0, 0.309);
  --breadcrumbTextColor: #d1c4e9;
  --breadcrumbTextColorActive: #fff;
}

.mt-1 {
  margin-top: 20px !important;
}

.mt-2 {
  margin-top: 50px !important;
}

.mb-2 {
  margin-bottom: 50px !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

@media (max-width: 420px) {
  h1,
  h2 {
    font-weight: 200;
    line-height: 1;
    font-size: 16px;
    margin: 5px 0;
  }
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.inline-element {
  display: inline;
}

/* ------  containers ------  */

.dashboard {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.dashboard svg {
  margin: 5px;
}
.container_nav {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  top: 0;
  position: sticky;
}

.container {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #000;
}

.container a {
  text-decoration: none;
  color: var(--primary-color);
}

.circle-container {
  display: inline-block;
  margin: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.section-name {
  margin-top: 90px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

/* ------ table ------ */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 450px;
  margin: auto;
}

@media (max-width: 450px) {
  table {
    width: 300px;
  }
}

@media (max-width: 310px) {
  table {
    width: 250px;
  }
}

td,
th {
  border: none;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--secondary-color);
}

/* img */

.image_fontawesome {
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: auto;
}

/* ------ buttons ------ */

.btn {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  justify-content: center;
  width: 270px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover,
.image_btn:hover {
  transform: scale(0.96);
}

.btn_medium {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  display: block;
  margin: auto;
  justify-content: center;
  width: 120px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.image_btn {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  display: inline-block;
  padding: auto;
  margin-bottom: 20px;
  justify-content: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.image_on_button {
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: auto;
}

.image_on_menu_button {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.btn-with-img {
  padding: 20px;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
}

.monitor-button__container {
  display: block;
  justify-content: space-between;
  width: 126px;
}

/* ------ forms ------ */
.input-with-button {
  font-size: 16px;
  color: rgb(85, 78, 78);
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 0;
  justify-content: space-between;
  width: 270px;
}

.input-with-button > .image_btn {
  display: flex;
  margin-top: 18px;
  border-radius: 0 5px 5px 0;
}

.input-with-button > .image_btn:hover {
  transform: scale(1.02);
}

.form-control_text-input {
  display: flex;
  float: left;
  margin-top: 18px;
  z-index: -100;
  width: 230px;
  border: 1px solid var(--primary-color);
  border-radius: 5px 0 0 5px;
  height: 40px;
  padding-top: 5px;
  padding-left: 3px;
  font-size: 16px;
  color: rgb(0, 0, 0) !important;
}

.input-with-button input::placeholder,
.input-with-button input,
.form-control_text-input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(85, 78, 78);
}

.form__wrapper p {
  display: inline;
  font-size: 16px;
  padding-top: 0px;
  margin-top: 5px;
  vertical-align: middle;
}

.form__wrapper {
  width: 270px;
  height: 20px;
  display: flex;
  font-size: 8px;
  margin: auto;
  margin-bottom: 20px;
  justify-content: space-between;
}

.widget__wrapper p {
  display: inline;
  font-size: 12px;
  padding-top: 0px;
  margin-top: 5px;
  vertical-align: middle;
}

.widget__wrapper {
  width: 370px;
  height: 20px;
  display: flex;
  font-size: 8px;
  margin: auto;
  margin-bottom: 20px;
  justify-content: space-between;
}

.form-name__wrapper {
  width: 270px;
  height: 20px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  color: var(--primary-color);
}

/* ------ modal ------- */
.modal {
  display: none;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 400px;
}

.modal-title {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 420px) {
  .modal-content {
    width: 340px;
  }
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ------ NAVBAR ------ */
.navbar {
  background-color: var(--primary-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  height: 70px;
  width: 100%;
  font-size: 14px;
  z-index: 200;
  overflow: hidden;
  position: fixed;
  top: 0;
}

.navbar .flex {
  justify-content: space-between;
  overflow: hidden;
}

.navbar-btn {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.navbar-btn_config {
  background: url(config.svg) no-repeat center center;
}

.navbar-btn_question {
  background: url(help.svg) no-repeat center center;
}

/* ------ FOOTER ------ */
.footer {
  color: #fff;
  height: 70px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  padding-top: 10px;
}

.footer-button__container {
  margin-left: 30px;
}

/* ------ yes no ------ */

.yes_no_container {
  color: #fff;
  height: 70px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2000;
}

.yes_btn {
  background-color: #003a33;
  margin-right: 30px;
}

.no_btn {
  background-color: #7b1e07;
}

.ok_btn {
  background-color: #003a33;
}

/* ------ widgets ------ */

.widget_minifont {
  font-size: 12px;
}

.widget_middlefont {
  font-size: 34px;
}

.widget_maxidlefont {
  font-size: 48px;
}

.widget_value_text {
  fill: #808080;
  font-family: Arial, Helvetica, sans-serif;
  text-anchor: middle;
}

.widget_svg > text {
  font-size: 12px;
  text-anchor: start;
}

.widget_value {
  stroke-width: 20;
  stroke: #00695c;
  fill: none;
}

.widget_skale {
  stroke-width: 2;
  stroke: #0050b4;
  fill: none;
}

/* ------ SETTINGS ------ */

.settings-container {
  color: black;
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 350px 0px;
}

@media (max-height: 1200px) {
  .settings-container {
    padding: 200px 0px;
  }
}

@media (max-height: 730px) {
  .settings-container {
    padding: 90px 0px;
  }
}

.version-container {
  color: gray;
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

.network-search_btn {
  display: flex;
  float: left;
  margin-bottom: 38px;
}

/* Device */

.devices_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form-device__wrapper {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 5px;
  max-width: fit-content;
  margin: auto;
  margin-bottom: 30px;
}

@media (min-width: 450px) {
  .device {
    float: left;
    margin-left: 20px;
  }
}

/* Monitor */

.form-monitor__wrapper {
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 5px;
  max-width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

.monitor {
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

@media (min-width: 950px) {
  .monitor {
    float: left;
  }

  .monitor-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
}

.monitor-btn_icon {
  padding-bottom: 8px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  display: inline-block;
  padding: auto;
  justify-content: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.monitor-btn_icon img {
  width: 50%;
  height: 90%;
  padding-top: 10px;
}

/* ------ Buttons ------ */

.button {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 15px;
  font-family: inherit;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
}

.button:focus {
  outline: 0;
}

.button:active {
  transform: scale(0.98);
}

.button-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.button-secondary {
  background-color: var(--secondary-color);
}

.button-img {
  width: 30px;
  height: 30px;
}

.button-img--small {
  width: 13px;
  height: 13px;
  margin: auto;
}
*/

/* ------ ===============================CLEAN FRAMEWOR======================================= ------ */
/* ------ ====================== UWAGA: nie zmieniać nic poniżej! ============================ ------ */
/* ------ Text ------ */

.text {
  margin-top: 30px;
}

.text-primary {
  font-size: var(--font-label-size);
  line-height: 2;
  color: var(--primary-color);
}

/* ------ Tools ------ */

.space-between {
  display: flex;
  justify-content: space-between;
}

.border-radius {
  border-radius: 5%;
}

/*Clearing Floats*/
.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* ------ Form control ------ */

.form-control {
  position: relative;
  width: 300px;
}

.form-name {
  color: var(--primary-color);
  display: block;
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
}

@media (max-width: 450px) {
  .form-control {
    width: 250px;
  }
}

.form-control--big {
  margin: 20px 0 40px;
}

.form-control--medium {
  margin: 20px 0 20px;
}

.form-control__input {
  background-color: transparent;
  border: 0;
  display: block;
  width: 100%;
  line-height: 2;
  color: #000;
  padding-left: 2px;
}

.form-control__description--left {
  padding-left: 2px;
  float: left;
}

.form-control__input:focus,
.form-control__input:valid,
.form-control__input:not(:placeholder-shown) {
  outline: 0;
}

.input__simple-label {
  font-size: var(--font-label-size);
  line-height: 1;
  color: var(--primary-color);
  margin: 0;
  margin-bottom: 2px;
  padding-left: 3px;
}

/* ------ Simple form control with single letter floating effect ------ */

.simple-input__input:focus {
  border-color: var(--primary-color);
}

.simple-input__label {
  position: absolute;
  top: 5px;
  left: 0;
}

.simple-input__label span {
  display: inline-block;
  font-size: var(--font-label-size);
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: text;
  color: var(--placeholder-color);
}

.simple-input__input:focus + label span,
.simple-input__input:valid + label span,
.simple-input__input:not(:placeholder-shown) + label span {
  color: var(--primary-color);
  transform: translateY(-30px);
  line-height: 1;
}

/* ------ Border styles for form controls ------ */

.input__border--down {
  border-bottom: 1px var(--placeholder-color) solid;
}

.input__border--all {
  border: 1px var(--placeholder-color) solid;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.input__label-space {
  padding-left: 3px;
  padding-top: 5px;
}

/* ------ Switch ------ */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  border-radius: 34px;
  margin: auto 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.309);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------ Input with button ------ */

.button-input__input {
  width: 80%;
  height: 38px;
  padding: 10px 5px;
  float: left;
  border-radius: 5px 0 0 5px;
}

.button-input__button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 38px;
  width: 20%;
  color: #fff;
  background: var(--primary-color);
  border-radius: 0 5px 5px 0;
}

.button-input__button:hover {
  background: var(--primary-color);
}

.button-input__button:active,
.button-input__button:focus {
  background: var(--primary-color);
  outline: 0;
}

.button-input__button:before {
  /* left arrow */
  content: "";
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent var(--primary-color) transparent;
  top: 12px;
  left: -6px;
}

.button-input__button:hover:before {
  border-right-color: var(--primary-color);
}

.button-input__button:focus:before,
.button-input__button:active:before {
  border-right-color: var(--primary-color);
}

.button-input__button::-moz-focus-inner {
  /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}

/* ------ Input number ------ */

.quantity-input {
  position: relative;
  margin: auto 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.quantity-input__input {
  background-color: #fff;
  float: left;
  padding: 0;
  margin: 0;
  height: 38px;
  width: 100px;
  padding-left: 5px;
  font-size: var(--font-label-size);
}

.quantity-input__input:focus {
  outline: 0;
  border-color: var(--primary-color);
}

.quantity-input__button-container {
  float: left;
  position: relative;
  height: 38px;
}

.quantity-input__button {
  position: relative;
  cursor: pointer;
  border: none;
  border-left: 1px solid var(--primary-color);
  width: 21px;
  text-align: center;
  color: #fff;
  padding: 0;
  background: var(--primary-color);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-input__button:active {
  background: var(--primary-color);
}

.quantity-input__button.quantity-input__button-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid var(--primary-color);
  border-radius: 0 5px 0 0;
}

.quantity-input__button.quantity-input__button-down {
  position: absolute;
  bottom: 0;
  height: 50%;
  border-radius: 0 0 5px 0;
}

/* ------ Single select drop-down ------ */
.select-box {
  display: flex;
  flex-direction: column;
}

.select-box .options-container {
  background: #fff;
  color: var(--placeholder-color);
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;

  order: 1;
  /* 
  position: absolute;
  z-index: 100;
  margin-top: 45px; */
}

.selected {
  background: #fff;
  margin-bottom: 8px;
  color: #000;
  position: relative;

  order: 0;
}

.selected:active {
  border-color: var(--primary-color);
}

.selected::after {
  content: "";
  background: url("./arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #fff;
  border-radius: 0 5px 20px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 0 5px 5px 0;
}

.select-box .option,
.selected {
  padding: 9px 3px;
  cursor: pointer;
}

.select-box .option:hover {
  background: var(--primary-color);
  color: white;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

/* ------ Breadcrumb ------ */

.r-list {
  --uirListPaddingLeft: var(--rListPaddingLeft, 0);
  --uirListMarginTop: var(--rListMarginTop, 0);
  --uirListMarginBottom: var(--rListMarginBottom, 0);
  --uirListListStyle: var(--rListListStyle, none);

  padding-left: var(--uirListPaddingLeft) !important;
  margin-top: var(--uirListMarginTop) !important;
  margin-bottom: var(--uirListMarginBottom) !important;
  list-style: var(--uirListListStyle) !important;
}

.r-link {
  --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
  --uirLinkTextColor: var(--rLinkTextColor);
  --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
  display: var(--uirLinkDisplay) !important;
  color: var(--uirLinkTextColor) !important;
  text-decoration: var(--uirLinkTextDecoration) !important;
}

.breadcrumb {
  --uiBreadcrumbDividerColor: var(--breadcrumbDividerColor, inherit);
  --uiBreadcrumbDividerSize: var(--breadcrumbDividerSize, 16px);
  --uiBreadcrumbIndent: var(--breadcrumbIndent, 10px);
}

.breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb__group {
  display: inline-flex;
  align-items: center;
}

.breadcrumb__group:nth-of-type(n + 2) {
  margin-left: var(--uiBreadcrumbIndent);
}

.breadcrumb__divider {
  margin-left: var(--uiBreadcrumbIndent);
  font-size: var(--uiBreadcrumbDividerSize);
}

.breadcrumb {
  --uiBreadcrumbTextColor: var(--breadcrumbTextColor);
  --uiBreadcrumbTextColorActive: var(--breadcrumbTextColorActive);

  --breadcrumbDividerColor: var(--uiBreadcrumbTextColor);
  --rLinkTextColor: var(--uiBreadcrumbTextColor);
}

.breadcrumb__divider {
  color: var(--uiBreadcrumbDividerColor);
}

span.breadcrumb__point {
  color: var(--uiBreadcrumbTextColorActive);
}

.breadcrumb_type {
  --breadcrumbDividerSize: 20px;
}
