/* ------ GENERAL ------ */
:root {
  --primary-color: #00695c;
  --secondary-color: rgba(0, 105, 92, 0.38);
}

.mt-2 {
  margin-top: 50px !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.inline-element {
  display: inline;
}

/* ------  containers ------  */

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* ------ table ------ */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 450px;
  margin: auto;
}

@media (max-width: 450px) {
  table {
    width: 300px;
  }
}

@media (max-width: 310px) {
  table {
    width: 250px;
  }
}
td,
th {
  border: none;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--secondary-color);
}

/* ------ buttons ------ */

.btn {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  justify-content: center;
  width: 270px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover,
.image_btn:hover {
  transform: scale(0.96);
}

.btn_medium {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  display: block;
  margin: auto;
  justify-content: center;
  width: 120px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.image_btn {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  display: inline-block;
  padding: auto;
  margin-bottom: 20px;
  justify-content: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.image_on_button {
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: auto;
}

.image_on_menu_button {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.btn-with-img {
  padding: 20px;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
}

.monitor-button__container {
  display: block;
  justify-content: space-between;
  width: 126px;
}

/* ------ forms ------ */

.form-control input,
.form-control select {
  font-size: 16px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  justify-content: center;
  width: 270px;
  height: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding-left: 3px;
}
.form-control input::placeholder {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(85, 78, 78);
}

.input-with-button {
  font-size: 16px;
  color: rgb(85, 78, 78);
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 0;
  justify-content: space-between;
  width: 270px;
}

.input-with-button > .image_btn {
  display: flex;
  margin-top: 18px;
  border-radius: 0 5px 5px 0;
}

.input-with-button > .image_btn:hover {
  transform: scale(1.02);
}

.form-control_text-input {
  display: flex;
  float: left;
  margin-top: 18px;
  z-index: -100;
  width: 230px;
  border: 1px solid var(--primary-color);
  border-radius: 5px 0 0 5px;
  height: 40px;
  padding-top: 5px;
  padding-left: 3px;
}

.form-name {
  color: var(--primary-color);
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.form__wrapper p {
  display: inline;
  font-size: 16px;
  padding-top: 0px;
  margin-top: 5px;
  vertical-align: middle;
}

.form__wrapper {
  width: 270px;
  height: 20px;
  display: flex;
  font-size: 8px;
  margin: auto;
  margin-bottom: 20px;
  justify-content: space-between;
}

.form-name__wrapper {
  width: 270px;
  height: 20px;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  justify-content: space-between;
  color: var(--primary-color);
}

/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------ modal ------- */
.modal {
  display: none;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ------ NAVBAR ------ */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
  position: fixed;
  width: 100%;
  font-size: 14px;
  z-index: 200;
}

.navbar .flex {
  justify-content: space-between;
}

/* ------ FOOTER ------ */
.footer {
  color: #fff;
  height: 70px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-button__container {
  margin-left: 30px;
}

/* ------ yes no ------ */

.yes_no_container {
  color: #fff;
  height: 70px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2000;
}

.yes_btn {
  background-color: #003a33;
}

.no_btn {
  background-color: #7b1e07;
}

/* ------ SETTINGS ------ */

.settings-container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 350px 0px;
}

@media (max-height: 1200px) {
  .settings-container {
    padding: 200px 0px;
  }
}

@media (max-height: 730px) {
  .settings-container {
    padding: 90px 0px;
  }
}

.version-container {
  color: gray;
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

.network-search_btn {
  display: flex;
  float: left;
  margin-bottom: 38px;
}

/* Device */

.form-device__wrapper {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 5px;
  max-width: fit-content;
  margin: auto;
  margin-bottom: 30px;
}

/* Monitor */

.form-monitor__wrapper {
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 5px;
  max-width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

.monitor {
  margin-bottom: 50px;
}
